:root {
    
    /* Google Fonts*/
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --moon-yallow: #f4c613;
    --grey: #212226;
    --white-smoke: #f4f4f4;
    --white: #fff;
    --black: #000;   
}